<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных</title>
</head>
<body>
    <h1>Изменить данные книги: </h1>
    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <!-- ISBN -->
        <label for="isbn">Код ISBN: </label>
        <input id="isbn" type="text" th:field="*{ISBN}">
        <br>
        <!-- Название книги -->
        <label for="title">Название книги: </label>
        <input id="title" type="text" th:field="*{title}">
        <br>
        <p>Выберите автора</p>
        <!-- Выбор автора -->
        <select th:field="*{authorID}">
            <option th:each="author : ${authors}"
                    th:value="${author.getId()}"
                    th:text="${author.getFirstName()} + ' ' + ${author.getSurname()} + ' ' + ${author.getPatronymic()}"></option>
        </select>
        <br>
        <p>Выберите издательство</p>
        <!-- Выбор издательства -->
        <select th:field="*{publishingHouseID}">
            <option th:each="publisher : ${publishers}" th:value="${publisher.getId()}" th:text="${publisher.getName()}"></option>
        </select>
        <br>
        <!-- Выбор года издания -->
        <label for="year">Год издания: </label>
        <input id="year" type="text" th:field="*{publishingYear}">
        <br>
        <!-- Выбор количества страниц -->
        <label for="pages">Количество страниц: </label>
        <input id="pages" type="text" th:field="*{pages}">
        <br>
        <!-- Кнопка добавления книги -->
        <input type="submit" value="Добавить книгу!">
    </form>
    <br>
    <hr>

    <a th:href="@{/books}">Вернуться к списку книг</a>
    <a th:href="@{/readers}">Перейти к читателям</a>
    <a th:href="@{/authors}">Перейти к авторам</a>
    <a th:href="@{/publishing-houses}">Перейти к издательствам</a>
</body>
</html>