<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Книги</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../assets/css/main.css">
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>
<body class="is-article-visible">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main" style="box-sizing: unset">
            <article id="elements" class="active">
                <h2 class="major">Список книг</h2>

                <!-- Таблица со списком всех книг -->
                <section>
                    <blockquote th:if="${books.isEmpty()}">Книги отсутствуют! Добавьте, чтобы увидеть список книг</blockquote>
                    <table th:if="${not books.isEmpty()}" class="no-borders">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td style="width: 100%">Название</td>
                            <td>Год</td>
                            <td>Страницы</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}">
                            <td>
                                <a th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getId()}"></a>
                            </td>
                            <td>
                                <a th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getTitle()}">
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getPublishingYear()}">
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getPages()}">
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/books/{id}/edit(id=${book.getId()})}" class="button small">Изменить</a>
                            </td>
                            <td>
                                <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" class="no-margin">
                                    <input type="submit" value="Удалить" class="small">
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Кнопка добавления книги -->
                    <a th:href="@{/books/new}" class="button primary">Добавить книгу</a>
                    <hr>
                </section>
                <!-- Ссылки на другие страницы -->
                <section>
                    <ul class="actions">
                        <li style="width: -webkit-fill-available">
                            <a th:href="@{/readers}" class="button small"
                               style="width: -webkit-fill-available">Читатели</a>
                        </li>
                        <li style="width: -webkit-fill-available">
                            <a th:href="@{/authors}" class="button small"
                               style="width: -webkit-fill-available">Авторы</a>
                        </li>
                        <li style="width: -webkit-fill-available">
                            <a th:href="@{/publishing-houses}" class="button small"
                               style="width: -webkit-fill-available">Издания</a>
                        </li>
                        <li style="width: -webkit-fill-available">
                            <a th:href="@{/}" class="button small"
                               style="width: -webkit-fill-available">Главная</a>
                        </li>
                    </ul>
                </section>
            </article>
        </div>
    </div>

    <!-- BG -->
    <div id="bg"></div>
</body>
</html>